code {
  padding: 0;
}

p {
    margin: 18px 0 !important;
}

.control-btn {
    margin: 0;
    color: #555;
    padding: 2px 6px;
    background: #fff;
    border: solid 1px #333;
    cursor: pointer;
    -webkit-border-radius: 5px;
    outline: 0 none;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5) !important;
}
.control-on {
    background-color: #2780E3;
    color: #FFF;
}
/* 요약정보레이어 예제 */
.iw_inner {
    padding: 10px;
}
.iw_inner h3 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    margin: 10px 0;
}
.iw_inner p {
    font-size: 12px;
    color: #333;
}
.iw_inner img.thumb {
    float: right;
    border: solid 1px #aeaeae;
}
#wrap > h2 {
    display: none;
}
#wrap > a.back {
    display: none;
}
#wrap2 > h2 {
    display: none;
}
#wrap2 > a.back {
    display: none;
}

/* HTML Marker */
.cs_mapbridge .map_group .map_marker{position:absolute;width:20px;height:20px;z-index:5}
.cs_mapbridge .map_group .map_marker[class*=_big]{z-index:6}
.cs_mapbridge .map_group .map_marker .ico{position:absolute;background:url(../img/example/sp_mapbridge5.png) no-repeat;background-size:400px 450px;-webkit-background-size:400px 450px;z-index:10}
.cs_mapbridge .map_group .map_marker .ico:after{position:absolute;top:-5px;right:-5px;bottom:-5px;left:-5px;background-color:transparent;content:'';z-index:30}
.cs_mapbridge .map_group .map_marker .shd{position:absolute;top:0;left:0;background:url(../img/example/sp_mapbridge5.png) no-repeat;background-size:400px 450px;-webkit-background-size:400px 450px;content:''}
.cs_mapbridge .map_marker.hp .ico{width:26px;height:36px;background-position:-175px 0;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .map_marker.hp_big .ico{width:38px;height:58px;background-position:-175px -45px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .map_marker.hp_big .shd{top:24px;left:8px;width:38px;height:34px;background-position:-175px -105px;background-size:400px 450px;-webkit-background-size:400px 450px}
.cs_mapbridge .map_marker.tvhp .ico{width:26px;height:36px;background-position:-210px 0;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .map_marker.tvhp_big .ico{width:38px;height:58px;background-position:-220px -45px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .map_marker.tvhp_big .shd{top:24px;left:8px;width:38px;height:34px;background-position:-220px -105px;background-size:400px 450px;-webkit-background-size:400px 450px}
.cs_mapbridge .crs .map_marker[class*=_big] .shd{top:24px;left:8px;width:38px;height:34px;background-position:-50px -270px;background-size:400px 450px;-webkit-background-size:400px 450px}
.cs_mapbridge .crs .map_marker .ico{width:25px;height:36px}
.cs_mapbridge .crs .map_marker.num1 .ico{background-position:-5px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .crs .map_marker.num2 .ico{background-position:-35px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .crs .map_marker.num3 .ico{background-position:-65px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .crs .map_marker.num4 .ico{background-position:-95px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .crs .map_marker.num5 .ico{background-position:-125px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .crs .map_marker.num6 .ico{background-position:-278px -387px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .crs .map_marker.num7 .ico{background-position:-305px -387px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .crs .map_marker.num8 .ico{background-position:-334px -387px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:12px 100%;-webkit-transform-origin:12px 100%}
.cs_mapbridge .crs .map_marker[class*=_big] .ico{width:38px;height:58px}
.cs_mapbridge .crs .map_marker.num1_big .ico{background-position:-160px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .crs .map_marker.num2_big .ico{background-position:-205px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .crs .map_marker.num3_big .ico{background-position:-250px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .crs .map_marker.num4_big .ico{background-position:-295px -215px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .crs .map_marker.num5_big .ico{background-position:-5px -260px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .crs .map_marker.num6_big .ico{background-position:-140px -387px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .crs .map_marker.num7_big .ico{background-position:-185px -387px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
.cs_mapbridge .crs .map_marker.num8_big .ico{background-position:-231px -387px;background-size:400px 450px;-webkit-background-size:400px 450px;transform-origin:19px 54px;-webkit-transform-origin:19px 54px}
